* {
	-webkit-font-smoothing: antialiased;
}
.positive {
	color: #21CE99;	/* GREEN */
}
.negative {
	color: #F9523A; /* RED */
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: black;
	font-size: 28px;
	text-align: center;
	font-weight: 300;
	position: relative;
	height: 100vh;
}

#content {
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url('images/one-day-graph.png') center no-repeat;
	background-color: rgba(0,0,0,0.7);
	background-blend-mode: color;
	transition: all 0.7s ease;
}

.logo {
	text-align: center;
	line-height: 150px;
	font-size: 48px;
	color: #21CE99;
	margin:	0px auto 40px;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: 8px solid #21CE99; /* GREEN */
	opacity: 0.3;
	transition: all 0.7s ease;
}

form {
	margin: auto;
	background: rgba(0,0,0,0.8);
	border: none;
	border-radius: 8px;
	width: 383px;
	height: 253px;
	color: #666;
	transition: all 0.7s ease;
}

form:hover {
	color: #FFF;
}

form:hover input {
	border-bottom: 1px solid #D9D9D9;
}

input {	
	width: 100%;
	height: 75px;
	border: none;
	font-size: 32px;
	border-bottom: 1px solid #666;
	background: transparent;
	color: #FFF;
	padding-left: 15px;
	font-weight: 300;
	transition: all 0.7s ease;
}

input:focus {
	outline: none;
}

.shake {
	animation-name: shake;
	animation-duration: 0.3s;
	animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  20%, 60%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

::-webkit-input-placeholder {
   color: #666;
   font-family: Helvetica Neue;
   font-size: 32px;
   font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
   font-family: Helvetica Neue;
   font-size: 32px;
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
   font-family: Helvetica Neue;
   font-size: 32px;
   font-weight: 300;
}

:-ms-input-placeholder {  
   color: #666;
   font-family: Helvetica Neue;
   font-size: 32px;
   
   font-weight: 300;
}

.login-disclaimer {
	margin: auto;
	width: 383px;
	margin-top: 40px;
	font-size: 21px;
}
.signup-disclaimer {
	margin: auto;
	width: 383px;
	margin-top: 40px;
	font-size: 21px;
}

.toggle-form {
	text-decoration: underline;
	cursor: pointer;
}

form .title {
	margin-bottom: 45px;
}

.container {
    width: 383px;
    margin: auto;
    height: 300px;
}

@keyframes slideInDown {
	0% {
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.slideInDown {
	animation-name: slideInDown;
	animation-duration: 0.7s;
	animation-fill-mode: both;
}

@keyframes slideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
	animation-name: slideOutUp;
	animation-duration: 0.7s;
	animation-fill-mode: both;
}

input#password-confirmation {
	z-index: -1;
	opacity: 0;
}