@media only screen and (max-width : 480px) { 
	body {
		max-width: 480px;
		min-width: 0px;
		width: 100%;
		height: 100%;
	}
	aside {
		display: none;
	}
	article {
		width: 100%;
		margin-left: 0;
		padding: 0px;
	}
	#add-stock {
		width: 100%;
		height: 35px;
	}
	#add-stock input {
		font-size: 18px;
	}
	::-webkit-input-placeholder {
	   font-size: 18px;
	}

	:-moz-placeholder { /* Firefox 18- */
	   font-size: 18px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   font-size: 18px;
	}

	:-ms-input-placeholder {  
	   font-size: 18px;
	}
	table {
		width: 100%;
	}
	table#watchlist td, table#watchlist th {
		display: none;
	}
	table#watchlist td.mobile-show, table#watchlist th.mobile-show {
		display: table-cell;
	}
	tr {
		height: 35px;
	}
	.add-stock-container {
		margin-top: 250px;
	}
	.graph-container {
		padding-top: 20px;
		background: #000;
		position: fixed;
		top: 0px;
		left: 0px;
		-webkit-backface-visibility:hidden;
		z-index: 100;
	}
	.market-value {
		font-size: 36px;
		display: inline-block;
	}

	.market-value__sign {
		font-size: 18px;
	}

	.market-value__cents {
		font-size: 18px;
	}
	.day-gain {
		font-size: 16px;
	}
	#chart-list .chart-range.selected {
		border-bottom: none;
	}
}