* {
	-webkit-font-smoothing: antialiased;
}
.positive {
	color: #21CE99;	/* GREEN */
}
.negative {
	color: #F9523A; /* RED */
}
body {
	font-family: Helvetica Neue;
	margin: 0px;
}
aside {
	width: 15%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background: #283138;
	color: #FFF;
	font-size: 22px;
	font-weight: 500;
}
article {
	color: #ACB0B3; /* GREY */
	text-align: center;
	width: 84%;
	height: 100%;
	display: inline-block;
}

table {
	margin: auto;
	width: 80%;
	border-collapse: collapse; 
}
tr {
	height: 65px;
	margin-bottom: 20px;
}

th, td {
	padding: 5px;
	text-align: left;
	font-size: 16px;
}

#chart-list th, td {
	/*color: #21CE99;*/
	font-weight: 500;
}

.chart-range.selected {
	color: #FFF;
	border-bottom: 3px solid #21CE99;
}

#watchlist th, td {
	/*color: #21CE99;*/
}
.labels {
	color: #ACB0B3;
	font-weight: 100;
}
#watchlist tr {
	border-bottom: 1px solid #ACB0B3;
}
#watchlist td.symbol {
	color: #000; 
}
.num-shares {
	color: #ACB0B3;
	font-size: 12px;
}
.tab {
	background: #171D24;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	cursor: pointer;
}

.tab.selected {
	-moz-box-shadow: inset -5px 0px 0px 0px #F9523A;
	-webkit-box-shadow: inset -5px 0px 0px 0px #F9523A;
	box-shadow: inset -5px 0px 0px 0px #F9523A;
}

.logo {
	margin:	40px auto;
	width: 100px;
	height: 100px;
	border-radius: 150px;
	border: 3px solid #ACB0B3; /* GREY */
}

.welcome-text {
	text-align: center;
}

.btn-logout {
	margin: 30px auto;
	cursor: pointer;
	text-align: center;
	background: #ACB0B3; /* GREY */
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	font-size: 16px;
	height: 50px;
	width: 160px;
	line-height: 50px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	letter-spacing: 2.32px;
}

.market-value {
	color: #ACB0B3;
	font-size: 64px;
	font-weight: 300;
}

.market-value__sign {
	font-size: 32px;
}

.market-value__cents {
	font-size: 32px;
}

.day-gain {
	font-size: 16px;
}

.day-gain__span {
	color: #ACB0B3;
}